@charset "utf-8";

/* CSS document for the onlineStoreFront 
    developped by Shao Hang Li, He Qi, John 
    Script Date: October 8, 2024

/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*general settings*/
body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1rem;
    background-color: #f0f0f0;
}

/*adjusting label font for readability*/
label{
    font-size: large;
    margin: 0 10px 10px 20px;
}

/*styling top-nav*/
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox for flexbox guide */
.topbar {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin: 0 0 10px 0;
    padding: 10px 20px;
    background-color: grey;
    height: auto;
}

/*styling h1*/
h1{
    text-align:center;
    background-color:rgb(212, 97, 44);
    color:white;
    padding:1.5em;
}

/*styling h2*/
h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

/*styling h3*/
h3{
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

/*general styling for p*/
p{
    margin-top: 5px;
}

/*button customizations*/
button{
    border: none;
    background-color:orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:120px;
    color:white;
    border-radius: 8px;
}

/*Display box for the pokemon and yugioh cards*/
/*Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox*/
.cardListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    
.cardListing .singles {
    flex: 0 0 calc(20% - 10px); /* 50% width minus some margin */
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
}
    
.cardListing .singles img {
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
}
    
/*styling review box*/
.review-box{
        margin: 0 10px 10px 20px;
        padding: 10px 20px;
        background-color: rgb(214, 214, 214);
        height: auto;
        clear: both;
}
    
/*review p part */
.review-box p{
        padding: 10px;
}

#review h2 {
    clear: both;
}
        

/* This is to make the logo be in the same line as the navigation bar */
.topbar .menu-contain {
    display: flex;
    align-items: center;
}


#productFilters h2{
    text-align: left;
    margin-bottom: 10px;
}

#checkout {
    background-color: orange;
    margin: 10px;
    float: both;
    width: 0 auto;
    
}

#checkout h4 {
    font-size: 2rem;
}

#checkout p {
    padding: 5px;
}

#checkout input {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#checkout img {
    float: right;
    height: auto;
}

#mainFooter{
    text-align: center;
    font-size:15px;
}


/* styling the footer*/
#mainFooter {
    padding: 10px;
    background-color: rgb(212, 97, 44);
    clear: both;
    height: 70px;
}

#mainFooter p{
    margin-top: 10px;
}