@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/*styling top-nav*/
.topbar {
    margin: 0 10px 10px 0;
    padding: 20px 20px 30px 50px;
    background-color: #3d3e47;
    height: auto;
}

h1{
    text-align:center;
    background-color:rgb(212, 97, 44);
    color:white;
    padding:10px;
}

h2 {
    text-align: center;
}

#mainFooter{
    text-align: center;
    font-size:15px;
}

/* Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox */
.cardListing {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.cardListing .singles {
flex: 0 0 calc(20% - 10px); /* 50% width minus some margin */
box-sizing: border-box;
margin: 2px;
border: 1px solid #ccc;
padding: 10px;
text-align: center;
}

.cardListing .singles img {
width: 300px; 
height: 400px; 
object-fit: cover; 
}

button{
    border: none;
    background-color:orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:120px;
    color:white;
    border-radius: 8px;
}